<html>https://eumra.com/homepage.aspx?p=dashboardclassic


<input type="file" id="chatImageFile" nv-file-select="" uploader="uploader" class="hidden">
<input type="search" ng-model="chatSearch" class="chat-search-box ng-pristine ng-untouched ng-valid" placeholder="Search">
<input type="search" ng-model="search" class="chat-search-box ng-pristine ng-untouched ng-valid" placeholder="Search">
<input name="ctl00$chkShowAlertsOnLogin" type="checkbox" id="chkShowAlertsOnLogin" onchange="SaveShowAlertsOnLoginSetting();">
<input name="ctl00$oldPassword" type="password" id="oldPassword" class="gui-input" placeholder="Current Password">
<input name="ctl00$newPassword" type="password" id="newPassword" validationgroup="tab1" class="gui-input" placeholder="New Password">
<input type="submit" name="ctl00$refreshfav" value="refresh" id="refreshfav" style="display: none">
<input type="text" id="sidebar-search" class="form-control" placeholder="بحث ...">
<input type="text" id="filterInput" placeholder="بحث في القائمة ..." title="">
<input type="text" ng-model="createChatViewModel.name" class="form-control ng-pristine ng-untouched ng-valid">
<input type="text" ng-model="createChatViewModel.search" placeholder="Search" class="chat-search-box form-control ng-pristine ng-untouched ng-valid">
<input type="text" ng-model="createChatViewModel.name" class="form-control ng-pristine ng-untouched ng-valid">
<input type="text" ng-model="createChatViewModel.search" placeholder="Search" class="chat-search-box form-control ng-pristine ng-untouched ng-valid">
<input type="checkbox" id="chkAnnRead" onchange="$(this).is(':checked')?document.getElementById('bAnnFooter').style='text-align: center;':document.getElementById('bAnnFooter').style='text-align: center;display:none;'"></html>